.trending-video-card {
  background-color: transparent;
  padding: 10px;
  display: flex;
  width: 80vw;
}
.link-style {
  text-decoration: none;
}
.trending-thumbnail {
  width: 300px;
  margin-right: 10px;
  height: 200px;
}
.dark-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f9f9f9;
}
.dark-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f9f9f9;
}
.light-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #1e293b;
}
.trending-channel-logo {
  display: none;
}
.md-video-card {
  width: 80%;
}

.logo-and-content-container {
  display: none;
}
@media (max-width: 768px) {
  .trending-channel-logo {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .trending-thumbnail {
    width: 90vw;
  }
  .trending-video-card-sm {
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .trending-video-card {
    flex-direction: column;
    margin-right: 20px;
    width: 100vw;
  }

  .light-heading {
    font-size: 13px;
  }
  .dark-heading {
    font-size: 13px;
  }
  .md-video-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
  }
}
